.Search .go {
  background-color: #3e9ec4;
  border: 1px solid #3e9ec4;
}
.Search .go:hover {
  background-color: #377792;
  border: 1px solid #377792;
}

.Search .geolocation {
  border: 1px solid #377792;
  color: #377792;
}

.Search .geolocation:hover {
  background-color: #377792;
  border: 1px solid #377792;
  color: #f4efed;
}
